<html>
    <body>
        {# Twig example: for loop #}
        <ul>
        {% for user in users %}
            <li>{{ user.name|title }} </li>
        {% endfor %}
        </ul>
        Number: {% for i in 1..10 %} {{i}} {% endfor %}
    </body>
</html>
